<% provide(:title, "Sign in") %>
<div class="row">
	<div class="col-md-5 col-md-offset-4" id="login-panel">
		<div class="panel panel-success">
			<div class="panel-heading">Sign in for application</div>
			<div class="panel-body">
				<%= form_for :session, url: login_path do |f| %>
					<div class="form-group">
						<%= f.label :login_field, "Username or Email" %><span class="not-registered"> <%= link_to 'New user?', registration_path %> </span>
						<%= f.text_field :login_field, class: "form-control", autofocus:"true", tabindex:"1", autocapitalize:"off", required: "true" %>
					</div>
					<div class="form-group">
						<%= f.label :password, "Password", required: "true" %> <span class="forgot-password"> <%= link_to 'Forgot password?', new_password_reset_path %> </span>
						<%= f.password_field :password, class: "form-control", tabindex:"2", required: "true" %>
					</div>
					<div class="checkbox">
    				<label><%= f.check_box :remember_me %> Remember me</label>
  				</div>
					<div class="form-group">
						<%= f.submit "Sign in", class: "btn btn-lg btn-success", tabindex:"3" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

