<% provide(:title, "New conference option") %>
<div class="row">
	<div class="col-md-7">
		<div class="panel panel-success">
			<div class="panel-heading">New conference option</div>
			<div class="panel-body">
				<%= form_for @conference_option, :html => {:class => 'form-horizontal'} do |f| %>
					<fieldset>
						<div class="form-group required">
							<%= f.label :option_name, "Optioin name", class: "col-sm-3 control-label required" %>
							<div class="col-sm-5">
									<%= f.text_field :option_name, class: "form-control", autofocus:"true", required: "true" %>
							</div>
						</div>
						<div class="form-group  required">
							<%= f.label :short_code, "Short code", class: "col-sm-3 control-label" %>
							<div class="col-sm-5">
									<%= f.text_field :short_code, class: "form-control" %>
							</div>
						</div>
						<div class="form-group required">
							<%= f.label :donate_amount, "Donate amount", class: "col-sm-3 control-label" %>
							<div class="col-sm-5">
									<%= f.text_field :donate_amount, class: "form-control" %>
							</div>
		      	</div>
		      	<div class="form-group">
							<div class="col-sm-offset-3 col-sm-3">
									<%= f.submit "Submit", class: "btn btn-lg btn-success" %>
							</div>
						</div>
					</fieldset>
				<% end %>
			</div>
		</div>
	</div>
</div>
