<div id="members" class="table-responsive">
	<%= will_paginate %>
	<table class="table table-hover table-condensed table-striped table-bordered">
		<thead>
			<tr>
				<th>序號</th>
				<th>姓名</th>
				<th>性別</th>
				<th>需要接機</th>
				<th>需要接待</th>
				<th>特會選項</th>
				<th>繳費狀態</th>
				<th>查看</th>
				<th>編輯</th>
			</tr>
		</thead>
		<tbody>
			<% @members.each do |member| %>
					<tr class="<%= member.donated? ? "success" : "info" %>">
						<td><%= member.no %></td>
						<td><%= member.name %></td>
						<td><%= member.gender %></td>

						<% if member.pick_up %>
							<td>Y</td>
						<% else %>
							<td>N</td>
						<% end %>

						<td><%= member.hospitality %></td>
						<td><%= member.conference_option %></td>

						<% if member.donated %>
							<td>Y</td>
						<% else %>
							<td>N</td>
						<% end %>
						
						<td><%= link_to '查看', member_path(member), remote: true  %></td>
						<td><%= link_to '編輯', edit_member_path(member), remote: true  %></td>
					</tr>
				<% end %>
			</tbody>
	</table>
	<%= will_paginate %>
</div>

